.heading {
  position: absolute;
  top: 20rem;
  left: 25rem;
  font-size: 5rem;
}

.red {
  color: red;
}

.current {
  border-bottom: solid black;
}

.green {
  color: green;
  border-bottom: none;
}
